<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.traumchatroom.mapper.UserMapper">
    <select id="findByUsername" parameterType="String" resultType="com.tc.traumchatroom.entity.User">
        select  * from user where username = #{username}
    </select>
    
    <select id="findAll" resultType="com.tc.traumchatroom.entity.User">
        select * from user
    </select>
    <select id="findByName" parameterType="String" resultType="com.tc.traumchatroom.entity.User">
        select * from user where name = #{name}
    </select>
    <insert id="addUser" parameterType="com.tc.traumchatroom.entity.User">
        insert into user(username,name,password,role) values(#{username},#{name},#{password},#{role})
    </insert>
    <update id="updateUser" parameterType="com.tc.traumchatroom.entity.User">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="role != null and role != ''">role = #{role},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteUser" parameterType="Integer">
        delete from user where id = #{id}
    </delete>
    <update id="updateNameAndPassword" parameterType="com.tc.traumchatroom.entity.User">
        update user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateRole">
        update user set role = #{role} where id = #{id}
    </update>
</mapper>